{% extends 'base.html' %}

{% load bootstrap_filters %}

{% block title %} Change Password {% endblock %}

{% block style %}
<style>
    #change_password {
        max-width: 400px;
        width: 100%;
    }
    #change_password .card {
        padding: 15px;
    }
    #change_password .form-group, #change_password .g-recaptcha {
        margin-bottom: 20px;
    }
    #change_password .btn {
        max-width: 220px;
        width: 100%;
        margin: 0 auto;
    }
</style>
{% endblock %}
{% block content %}

<div id="change_password" class="mx-auto">
    <div class="card">
        <h3 class="fw-bolder text-center">Change Password</h3>
        <div class="card-body">
            <form class="mx-auto" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="small" for="{{ change_password_form.old_password.id_for_label }}">Old Password</label>
                    {{ change_password_form.old_password |add_bootstrap_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label class="small" for="{{ change_password_form.new_password1.id_for_label }}">New Password</label>
                    {{ change_password_form.new_password1 |add_bootstrap_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label class="small" for="{{ change_password_form.new_password2.id_for_label }}">Confirm Password</label>
                    {{ change_password_form.new_password2 |add_bootstrap_class:"form-control" }}
                </div>
                {% for error in change_password_form.non_field_errors %}
                    <p class="small text-center text-warning">{{ error }}</p>
                {% endfor %}
                <input type="submit" class="btn btn-primary d-block" name="submit" value="Change Password">
            </form>
        </div>
    </div>
</div>

{% endblock %}